*{
    margin: 0px;
    font-family: 'Lobster Two', cursive;
font-family: 'Open Sans', sans-serif;
}

.banner{
    background-image: url(/images/donation1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    text-align: center;
    color: white;
    padding: 35px;
}
.banner-desc{
    text-align: center;
    padding: 20px;
    margin: 20px;
}


/* Donate Now Button  */
.donate{
    color: #ffffff;
    font-weight: 700;
    font-size: 20px;
    height: 64px;
    border: 0px;
    padding: 18px 35px;
    border-radius: 5px;
    background: #ff5959;
    margin: 20px;
}
.subscribe{
    color: #ffffff;
    font-weight: 700;
    font-size: 20px;
    height: 64px;
    border: 0px;
    padding: 18px 35px;
    border-radius: 5px;
    background: #ff5959;
}
.donate-today{
    text-align: center;
    margin: 50px;
}
.amount{
    display: flex;
    gap: 20px;
    justify-content: center;
    margin: 70px;
}
.quick-amount{
    color: #6f6f6f;
    font-weight: 700;
    font-size: 20px;
    height: 50px;
    border: 0px;
    padding: 18px 35px;
    border-radius: 5px;
    background: #f9f9f9; 
}
#two{
    color: #ff5959;
    background-color: #ffeded;
    border: 1px solid #ff5959;
}

.other-amount{
    color: #c2c2c2;
    border: none;
    padding: 10px;
}

.donate-plan-details{
    display: flex;
    gap: 20px;
    margin: 50px 300px;
    height: auto;
    width: auto;
    padding: 20px;
    align-items: center;
}
.donate-color-one{
    background-color: #eef5f5;
    padding: 10px;
    border: none;
    border-radius: 5px;
}
.donate-color-two{
    background-color: #ffeeee;
    padding: 10px;
    border: none;
    border-radius: 5px;
}
.donate-color-three{
    background-color: #fff4d5;
    padding: 10px;
    border: none;
    border-radius: 5px;
}
.blog{
    display: flex;
    gap: 20px;
    padding: 30px;
}
.blog-pic{
    width: 50%;
    border-radius: 5px;
}
.email{
    display: flex;
    align-content: center;
    background-color: #fff4d5;
    padding: 70px;
    margin: 50px 70px;
}
.enter-email{
    color: #d0d0d0;
    font-weight: 700;
    font-size: 20px;
    height: 64px;
    border: 0px;
    padding: 0px 35px;
    border-radius: 5px;
    background: #d8d8d8;
}


footer{
    text-align: center;
    background-color: #000000;
    color:#d8d8d8;
    padding: 30px;
}
.humble{
    color: #ff5959;
    font-family: 'Lobster Two', cursive;
    padding-bottom: 20px;
}